---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Small Space";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXE5OWI5dzU1cWhxZWl2YmhsbHFjZ3Y3ZDgzNzN2Z3o3eXdvY2t3MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/5xRW2cUKfcyQg/giphy.gif"/>
    </div>
    <h1>✨ Josh Groulx ✨</h1>
    <span class="badge">Engineering Student (Electrical Engineering)</span>
    <h2>About</h2>
    <p>
I am an aspiring engineer working towards a specialized degree in computer hardware engineering in hopes my efforts will lead me towards a promising career in computer electronics development and advancments in the graphical and computation industry.
    </p>
    <p>
I am currently enrolled with the University of New Brunswick where I am in the first year second term of my electrical engineering degree. I finished my first term with a final grade of "A" in all courses and continue to approach my studies with the dedication and commiment I intend to bring to my future workspace to ensure consistent professionalism and assurance of quality.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://www.svgrepo.com/show/452091/python.svg"/>
        <img class="skills__img" width="46" height="46" alt="VSCode" src="https://www.svgrepo.com/show/374171/vscode.svg"/>
        <img class="skills__img" width="46" height="46" alt="Blender" src="https://www.svgrepo.com/show/353488/blender.svg"/>
        <img class="skills__img" width="46" height="46" alt="Autodesk" src="https://www.svgrepo.com/show/452163/autodesk.svg"/>
        <img class="skills__img" width="46" height="46" alt="NodeJS" src="https://www.svgrepo.com/show/354119/nodejs-icon.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
Outside of my academic life I enjoy camping and family trips where I take up opportunities to volunteer for the community in sustainability and maintainence efforts. I also enjoy time spent playing and practicing guitar where I continue to write music and perform pracitced pieces.
    </p>
</Layout>

