---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
}

const { url, image, title, body } = Astro.props;
---

<li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <img
                class="card__img"
                width="226"
                height="127"
                src="https://pub.mdpi-res.com/prosthesis/prosthesis-05-00011/article_deploy/html/images/prosthesis-05-00011-g001.png?1675418742"
                alt="ProjectImage"
            />
        </div>
        <h3 class="card__title">
            Modular Prosthetic Hand
        </h3>
        <p class="card__txt">
            {body}
        </p>
    </a>
</li>
